<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219679976525-vk67kvg3vb2eieuup03sarithdf9ocs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219679976525-vk67kvg3vb2eieuup03sarithdf9ocs3</string>
	<key>API_KEY</key>
	<string>AIzaSyAlOdNBjbWkQcsMpkOd--uNSSiNdqcKLpo</string>
	<key>GCM_SENDER_ID</key>
	<string>219679976525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orbital2796-Nusell</string>
	<key>PROJECT_ID</key>
	<string>orbital-test-4e374</string>
	<key>STORAGE_BUCKET</key>
	<string>orbital-test-4e374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219679976525:ios:e9a6e5aae36c607e070004</string>
</dict>
</plist>